@charset "utf-8";
@import "tastebite-variables";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
/*
	1. Tastebite Normal CSS
	2. Tastebite Components CSS
		 2. 1. Tastebite Colors CSS
				2. 1. 1. Tastebite Selection Color CSS
				2. 1. 2. Tastebite Default Hover Colors CSS
        2. 1. 3. Tastebite Default Backgrounds CSS
				2. 1. 4. Tastebite Default Borders CSS
				2. 1. 5. Tastebite Outline Shades CSS
				2. 1. 6. Tastebite Background Shades CSS
        2. 1. 7. Tastebite Border Transparency CSS
        2. 1. 8. Tastebite Color Transparency CSS
        2. 1. 9. Tastebite Gradient Background Transparency CSS
				2. 1. 10. Tastebite Text Underline Color CSS
        2. 1. 11. Tastebite Background Transparency CSS
		 2. 2. Tastebite Font Family CSS
		 2. 3. Tastebite Font Weights CSS
		 2. 4. Tastebite Font Sizes CSS
     2. 5. Tastebite Outline Buttons CSS
     2. 6. Tastebite Rounded CSS
     2. 7. Tastebite Shadow CSS
     2. 8. Tastebite Component List CSS
     2. 9. Tastebite Group List CSS
     2. 10. Tastebite Information List CSS
     2. 11. Tastebite Input CSS
     2. 12. Tastebite Badge CSS
     2. 13. Tastebite Dropdown CSS
     2. 14. Tastebite Select Box CSS
     2. 15. Tastebite Modals CSS
     2. 16. Fabrx Star Ratings CSS
     2. 17. Fabrx Icons CSS
     2. 18. Tastebite Masonry CSS
     2. 19. Tastebite Media List CSS
  3. Tastebite Home Page CSS
     3. 1. Tastebite Header CSS
     3. 2. Tastebite Navbar CSS
     3. 3. Tastebite Footer CSS
     3. 4. Tastebite Instagram List CSS
     3. 5. Tastebite Social CSS
     3. 6. Tastebite Join Section CSS
     3. 7. Tastebite Image Animation CSS
     3. 8. Tastebite Card CSS
     3. 9. Tastebite Overlay CSS
     3. 10. Tastebite Swiper Slider CSS
  4. Tastebite Search Page CSS
  5. Tastebite Blog Page CSS
     5. 1. Tastebite Media CSS
  6. Tastebite Recipe Page CSS
     6. 1. Tastebite Component List Page CSS
     6. 2. Tastebite Custom Control CSS
     6. 3. Tastebite Instruction List CSS
  7. Tastebite Category Page CSS
  8. Tastebite About Page CSS
     8. 1. Tastebite Team CSS
  9. Tastebite Documentation Page CSS
     9. 1. Tastebite Docs Content CSS
  10. Tastebite Templates Page CSS
*/
/* 1. Tastebite Normal CSS */
body {
  background: $light;
  font-weight: $font-weight-normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
* {
  outline: none;
  &:focus {
    outline: none;
  }
}
a {
  text-decoration: none;
  transition: all ease .4s;
  &:focus {
    outline: none;
    outline-offset: 0;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}
b, strong, .dropdown-menu span.strong {
  font-weight: $font-weight-bold;
}
img {
  max-width: 100%;
  transition: all ease .4s;
  user-select: none;
}
iframe {
  display: block;
  width: 100%;
  border: none;
}
video {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  background: $light;
}
audio, canvas, progress, video {
  vertical-align: middle;
}
button {
  outline: none;
  outline-offset: 0;
  transition: all ease .4s;
  &:focus {
    outline: none;
    outline-offset: 0;
    transition: all ease .4s;
  }
}
hr {
  border-color: $gray-200;
}
hr.orange {
  background-color: $orange;
}
.hr-11, hr.hr-11:not([size]) {
  height: 11px;
  opacity: 1;
}
label {
  cursor: pointer;
  &.disable {
    cursor: none;
    opacity: 0.3;
  }
}
.has-unalignment-cards [class*="col-"] .card {
  height: auto;
}
.vertical-none {
  vertical-align: unset;
}
.mw-auto {
  max-width: none;
}
.direction-rtl {
  direction: rtl;
}
.tastebite-section {
  padding: 70px 0;
}
.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
/* 2. Tastebite Components CSS */
/* 2. 1. Tastebite Colors CSS */
/* 2. 1. 1. Tastebite Selection Color CSS  */
::selection, ::-webkit-selection, ::-moz-selection, ::-o-selection, ::-ms-selection {
  background: $dark;
  color: $white;
}
select::-ms-expand {
  display: none;
}
/* 2. 1. 2. Tastebite Default Hover Colors CSS  */
a {
  color: $black;
  &:hover, &:focus {
    color: $orange;
  }
}
.tstbite-header-links a:hover svg, .tstbite-header-links a:hover svg *, .navbar-nav .nav-link:hover svg, .navbar-nav .nav-link:hover svg *, .tstbite-svg a:hover svg path, .tstbite-social a:hover svg path, .tstbite-media-links li a:hover svg path {
  fill: $orange;
}
.btn-success, .btn-primary {
  color: $white !important;
}
/* 2. 1. 3. Tastebite Default Backgrounds CSS  */
.bg-primary, .btn-primary, .badge-primary{
  background-color: $primary;
}
.bg-success, .btn-success, .badge-success{
  background-color: $success;
}
.bg-secondary, .btn-secondary, .badge-secondary {
  background-color: $secondary;
}
.bg-warning, .btn-warning, .badge-warning {
  background-color: $warning;
}
.bg-primary-light, .badge-primary-light {
  background-color: $primary-light;
}
.bg-light-gray, .badge-light-gray {
  background-color: $light-gray;
}
.bg-dark-gray, .badge-dark-gray {
  background-color: $dark-gray;
}
.bg-lightest-gray, .badge-lightest-gray {
  background-color: $lightest-gray !important;
}
.bg-dark, .badge-dark {
  background-color: $dark;
}
.bg-black, .badge-black {
  background-color: $black;
}
.bg-black-900, .badge-black-900 {
  background-color: $black-900;
}

/* 2. 1. 4. Tastebite Default Borders CSS  */
.border, .border-top, .border-left, .border-bottom, .border-right {
  border-color: $border-color;
}
.border-gray-200 {
  border-color: $gray-200;
}
.btn-primary {
  border-color: $primary;
}
.btn-success {
  border-color: $success;
}
.btn-secondary {
  border-color: $secondary;
}
.btn-warning {
  border-color: $warning;
}
/* 2. 1. 5. Tastebite Outline Shades CSS  */
.outline-primary {
  border: 1px solid $primary;
}
.outline-success {
  border: 1px solid $success;
}
.outline-secondary {
  border: 1px solid $secondary;
}
.outline-warning {
  border: 1px solid $warning;
}
.outline-black {
  border: 1px solid $black;
}
.outline-dark-gray {
  border: 1px solid $dark-gray;
}
.outline-light-gray {
  border: 1px solid $light-gray;
}
.outline-gray-200 {
  border:1px solid $gray-200;
}
/* 2. 1. 6. Tastebite Background Shades CSS  */
.color-shade {
  width: 120px;
  height: 120px;
  margin: auto;
}
.color-shade-lg {
  width: 170px;
  height: 170px;
  margin: auto;
}
/* 2. 1. 7. Tastebite Border Transparency CSS  */
.text-primary {
  color: $primary;
}
.text-success {
  color: $primary;
}
.text-secondary {
  color: $primary;
}
.text-warning {
  color: $primary;
}
.text-gray {
  color: $gray;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-100 {
  color: $gray-100;
}
.text-dark-300 {
  color: $dark-300;
}
.text-orange {
  color: $orange;
}
/* 2. 1. 8. Tastebite Color Transparency CSS */
.text-trans-70 {
  color: rgba($black, 0.7);
}
/* 2. 1. 9. Tastebite Gradient Background Transparency CSS */
.gradient-black-trans {
  background: $black;
background: linear-gradient(180deg, rgba($black,0.0032213569021358746) 50%, rgba($black,0.5) 100%);
  /* IE6-9 */
}
/* 2. 1. 10. Tastebite Text Underline Color CSS */
.tstbite-underline {
  text-decoration-color: $orange;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}
/* 2. 1. 11. Tastebite Background Transparency CSS */
.bg-black-trans-48 {
  background-color: rgba($black, 0.48);
}

/* 2. 2. Tastebite Font Family CSS  */
body {
  font-family: $inter-font-family;
  color: $black;
  background-color: $white;
}
.playfair-font {
  font-family: $playfair-font-family !important;
}
.inter-font {
  font-family: $inter-font-family !important;
}
/* 2. 3. Tastebite Font Weights CSS  */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $font-weight-bold;
  font-family: $playfair-font-family;
}
.font-weight-medium {
  font-weight: $font-weight-medium !important;
}
.font-weight-regular {
  font-weight: $font-weight-normal !important;
}
.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-thin {
  font-weight: $font-weight-100 !important;
}
.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}
/* 2. 4. Tastebite Font Sizes CSS  */
body, big.font-size-16, .font-size-16,{
  font-size: 16px;
}
.font-size-100{
  font-size: 100px;
  line-height: 100px;
}
.font-size-90{
  font-size: 90px;
  line-height: 90px;
}
h1, .h1 {
  font-size: 76px;
}
h2, .h2 {
  font-size: 60px;
}
h3, .h3 {
  font-size: 50px;
}
h4, .h4 {
  font-size: 45px;
}
h5, .h5 {
  font-size: 36px;
}
h6, .h6 {
  font-size: 30px;
}
.f-size-32 {
  font-size: 32px;
}
.f-size-28 {
  font-size: 28px;
}
.f-size-24 {
  font-size: 24px;
}
.f-size-20 {
  font-size: 20px;
}
big, .big {
  font-size: 18px;
}
.f-size-16 {
  font-size: 16px;
}
.f-size-14 {
  font-size: 14px;
}
small, .small {
  font-size: 12px !important;
}
caption, .caption {
  font-size: 14px !important;
}
.tiny, .avatar-name small {
  font-size: 10px;
}

/* 2. 5. Tastebite Outline Buttons CSS  */
.btn {
  font-weight: $font-weight-medium;
}
.btn-sm {
  font-size: 14px;
  padding: 2px 20px;
  border-radius: 3px;
}
.btn-xl {
  height: 76px;
  font-size: 28px;
  font-weight: $font-weight-bold;
  line-height: 62px;
}
.btn-outline-dark {
  background-color: transparent;
  border-color: $black;
  color: $black;
}
.btn-outline-dark:hover, .btn-outline-dark.focus, .btn-outline-dark:focus, .btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
  color: $white;
  background-color: $black;
  border-color: $black;
}
.hover-orange:hover, .hover-orange.focus, .hover-orange:focus, .hover-orange:not(:disabled):not(.disabled).active, .hover-orange:not(:disabled):not(.disabled):active, .show > .hover-orange.dropdown-toggle {
  color: $white;
  background-color: $orange;
  border-color: $orange;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus, .btn-primary:focus, .btn-primary.focus, .btn-outline-dark:focus, .btn-outline-dark.focus, .btn-success:focus, .btn-success.focus, .btn-danger:focus, .btn-danger.focus, .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
/* 2. 6. Tastebite Rounded CSS  */
.rounded-2 {
  @include border-radius(2px);
}
.rounded-4 {
  @include border-radius(4px);
}
.rounded-6 {
  @include border-radius(6px);
}
.rounded-12 {
  @include border-radius(12px);
}
.rounded-16 {
  @include border-radius(16px);
}
.rounded-24 {
  @include border-radius(24px);
}
.rounded-top-3 {
  @include border-radius(3px 3px 0 0);
}
.rounded-bottom-3 {
  @include border-radius(0 0 3px 3px);
}
.rounded-left-3 {
  @include border-radius(3px 0 0 3px);
}
.rounded-right-3 {
  @include border-radius(0 3px 3px 0);
}
.rounded-top-6 {
  @include border-radius(6px 6px 0 0);
}
.rounded-bottom-6 {
  @include border-radius(0 0 6px 6px);
}
.rounded-left-6, .rounded-md-left-6  {
  @include border-radius(6px 0 0 6px);
}
.rounded-right-6 {
  @include border-radius(0 6px 6px 0);
}
.rounded-top-12 {
  @include border-radius(12px 12px 0 0);
}
/* 2. 7. Tastebite Shadow CSS  */
.shadow-24 {
  box-shadow: 0 18px 24px rgba($black,0.03);
}
.shadow-17 {
  box-shadow: 0 9px 17px rgba($black,0.07);
}
/* 2. 8. Tastebite Component List CSS  */
.component-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;

  li {
  padding: 15px 20px;
  }
}
/* 2. 9. Tastebite Group List CSS  */
.group-list, .component-list.group-list {
  margin: 0;

  li {
    padding: 15px 0;

    + li {
    margin-left: -25px;
    border: none;
    }
  }

  .color-shade {
  border: 10px solid $white;
  }
}
.tstbite-section {
  padding: 75px 0;
}
/* 2. 10. Tastebite Information List CSS  */
.information-list {
  display: flex;
  flex-wrap: wrap;
  margin: 35px -20px;

  li {
  padding: 0 20px;
  color: $black;
  line-height: 18px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: $font-weight-light;

    + li {
    border-left: 1px solid $black;
    }
  }
}
/* 2. 11. Tastebite Input CSS  */
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $black;
}
.input-group {
  > .input-group-append {
    > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.custom-input-group {
  @include border-radius(3px);
  overflow: hidden;

  .form-control {
    height: 68px;
    border: none;
    padding-left: 25px;
    font-size: 16px;

    &:focus {
      box-shadow: none;
    }
  }
  .input-group-append {
    border:2px solid $white;

    .btn {
      padding: 5px 42px;
      font-weight: 600;
      font-size: 18px;
      height: 100%;
    }
  }
}
.form-group {
  margin-bottom: 1rem;
  &.custom-form-group{
    margin-bottom: 38px;
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
    color: $gray-300;
    margin-bottom: 0.5rem;
  }
  .form-control-box {
    position: relative;
  }
  .form-control {
    border-radius: 0;
    border: none;
    height: 48px;
    padding-left: 40px;
    font-size: 14px;
    color: $gray-300;
    font-weight: $font-weight-normal;
    border-bottom: 2px solid $gray-200;
    &:focus {
      box-shadow: none;
      border-color: $black;
      color: $black;
      ~ .form-icon svg path {
        fill: $black;
      }
    } 
  }
  .form-icon {
    position: absolute;
    top: 10px;
    left: 6px;
  }
}

/* 2. 12. Tastebite Badge CSS */
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.circle-lg {
  width: 40px;
  height: 40px;
}
.circle-xl {
  width: 255px;
  height: 255px;
  @include border-radius(50%);
  overflow: hidden;
  margin: 0 auto;
}
.circle-md {
  width: 160px;
  height: 160px;
  @include border-radius(50%);
  overflow: hidden;
  margin: 0 auto;
}
.circle-sm {
  width: 95px;
  height: 95px;
  @include border-radius(50%);
  overflow: hidden;
  margin: 0 auto;
}
.tstbite-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.tstbite-avatar.lg {
  width: 80px;
  height: 80px;
}
.badge-lg {
  padding-top: 8px;
  padding-bottom: 8px;
}
.badge.circle-lg {
  width: 60px;
  height: 60px;
}
.badge.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* 2. 13. Tastebite Dropdown CSS */
.dropdown-menu {
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
  border: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
}
.dropdown-item {
  padding: 7px 15px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: $orange;
  color: $white;
}
/* 2. 14. Tastebite Select Box CSS */
select.form-control, select {
  background-image: url(../images/icons/down-arrow2.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 34px;
  min-height: 34px;
  border-color: $black;
  @include border-radius(4px);
  min-width: 144px;
  line-height: 20px;
  color: $black;
  padding-left: 8px;
  padding-right: 30px; 
}
select::-ms-expand {
  display: none;
}
.sort-filter {
  float: right;
  padding-bottom: 20px;
  span {
    font-size: 0;
  }
  .form-control {
    width:145px;
  }
}
/* 2. 15. Tastebite Modals CSS */
.modal-content {
  max-width: 471px;
  border-color: $gray-200;
  padding: 35px;
  position: relative;
  &.full {
    max-width: 100%;
  }
}
button {
  &.close {
    padding: 0;
    background-color: transparent;
    border: 0;
  }
}
.close {
  opacity: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  :hover svg path {
    fill: $orange; 
  }
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
}
.modal-body {
  padding-top: 30px;
  padding-bottom: 0;
}
.login-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  li{
    padding: 8px;
    width: 50%;
    a {
      background-color: $gray-400;
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: $font-weight-semibold;
      @include border-radius(4px);
      padding: 12px 10px;
      img {
        margin-right: 6px;
        margin-top: -2px;
      }
      &.facebook {
        color: $facebook-color;
      }
    }
  }
}
.login-footer {
  margin-top: 60px;
  p {
    margin-bottom: 0;
    font-weight: $font-weight-light;
    a {
      color: $orange;
      font-weight: $font-weight-medium;
      &:hover {
        color: $black;
      }
    }
  }
}
/* 2. 16. Tastebite Star Ratings CSS */
.fabrx-ratings:not(:checked) > input {
  display: none;
}
.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 5px 5px 10px 0;
  transition: all ease .4s;
}
.has-rating {
  &:not(:checked) > label {
    background: url(../images/icons/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      background: url(../images/icons/star-fill.svg);
      background-repeat: no-repeat;
      background-size: contain;
      ~ label {
        background: url(../images/icons/star-fill.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        background: url(../images/icons/star-fill.svg);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        ~ label {
          background: url(../images/icons/star-fill.svg);
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 0.8;
        }
      }
    }
    label:hover ~ input:checked ~ label {
      background: url(../images/icons/star-fill.svg);
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.8;
    }
    input:checked ~ label {
      background: url(../images/icons/star-fill.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
/* 2. 17. Tastebite Icons CSS */
.icons-list.component-list {
  margin: 0 -20px;
  li {
    padding: 25px 20px;
    min-width: 76px;
    + li {
      border: none;
    }
  }
}
/* 2. 18. Tastebite Masonry CSS */
.tstbite-masonry {
  margin: 0 -10px;
  .masonry-item {
    padding: 10px;
    float: left;
    width: 33.33%;
  }
}
/* 2. 19. Tastebite Media List CSS */
.media {
  display: flex;
  align-items: flex-start;
}
.media-body {
  flex: 1;
}

/* 3. Tastebite Home Page CSS */
.tstbite-arrow {
  position: absolute;
  bottom: 35px;
  right: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  &:hover {
    background-color:$orange;
    svg, svg * {
      fill: $white;
    }
  }
}
/* 3. 1. Tastebite Header CSS */
.tstbite-header {
  padding: 24px 0;
}
.tstbite-category-title {
  font-weight: $font-weight-semibold;
  color: $black;
  font-size: 20px;
  margin-top: 8px;
}
/* 3. 2. Tastebite Navbar CSS */
.navbar-nav  li {
  padding: 0 15px;
}
.navbar-nav .nav-link{
  font-weight: 500;
}
.tstbite-collection h5 {
  min-height: 86px;
}
.tstbite-collection h6 {
  min-height: 72px;
}
.tstbite-collection {
  border:1px solid $gray-100;
}
/* 3. 3. Tastebite Footer CSS */
.tstbite-footer{
  h6.caption {
    cursor: pointer;
  }
  ul {
    padding-left: 0;

    li {
    list-style: none;

      a {
      color: $gray-300;
      font-weight: $font-weight-normal;
      font-size: 14px;

      &:hover {
        color: $orange;
      }
      }
      + li {
      padding-top: 6px;
      }
    }
  }
}
/* 3. 4. Tastebite Instagram List CSS */
.tstbite-instagram-list {
  margin: 0 -4px;
}
.tstbite-instagram-info{
  line-height: 18px;

  + .tstbite-instagram-info {
    margin-left: 35px;
  }
}
/* 3. 5. Tastebite Social CSS */
.tstbite-social a + a {
  margin-left: 25px;
}
/* 3. 6. Tastebite Join Section CSS */
.tstbite-join-section {
  .custom-input-group {
    .form-control {
      height: 59px;
    }
  }
}
/* 3. 7. Tastebite Profile CSS */
.tstbite-profile {
  margin-top: 60px;
  margin-bottom: 20px; 
  > img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: -60px;
  }
}
/* 3. 7. Tastebite Image Animation CSS */
.tstbite-animation {
  display: block;
  overflow: hidden;
  img {
    transform: scale(1);
    transition: all ease .8s;
  }
  &:hover img {
    transform: scale(1.1);
  }
}
/* 3. 8. Tastebite Card CSS */
.tstbite-card {
  position: relative;
  &:hover figcaption a {
    color: $orange;
  }
  &:hover {
    .tstbite-animation {
      img {
        transform: scale(1.1);
      }
    }
  }
}
.tstbite-delicious {
  border: 1px solid $gray-100;
  h6 {
    min-height: 50px;
  }
}
/* 3. 9. Tastebite Overlay CSS */
.tstbite-overlay {
  .card-img-overlay {
    .tstbite-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
    }
  }
  .card-overlay-sm {
    .card-img-overlay {
      .tstbite-container {
        bottom: 30px;
      }
    }
  }
}
/* 3. 10. Tastebite Swiper Slider CSS */
.swiper-container {
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba($white, 0.7);
    background-image: url(../images/icons/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $white;
    }
    &:after {
      display: none;
    }
  }
  .swiper-button-next {
    right: 0;
    left: auto;
    background-image: url(../images/icons/right-arrow2.svg);
    background-repeat: no-repeat;
  }
}
.slider-no-current {
  font-size: 0;
}
/* 4. Tastebite Search Page CSS */
.tstbite-search {
  visibility: hidden;
  background-color: $lightest-gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  padding-bottom: 25px;
  transition: all ease .4s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.search-results {
  display: none;
}
.tstbite-search-list {
  a {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray-200;
    align-items: center;
    padding: 8px 0;
    figure {
      margin-bottom: 0;
    }
    .tstbite-search-name {
      width: calc(100% - 65px);
      padding-left: 15px;
      strong {
        display: block;
        line-height: 18px;
      }
      span {
        display: block;
      }
    }
  }
}
.search-box {
  border-bottom: 1px solid $black;
  padding: 8px 0;
  margin-bottom: 10px;
  .form-control {
    border: none;
    border-radius: 0;
    background-color: $lightest-gray;
    font-size: 18px;
    color: $black;
    padding-left: 0;
    &:focus {
      box-shadow: none;
    }
  }
  button {
    background-color: transparent;
    border:none;
    z-index: 5;
  }
}
.tstbite-feature {
  display: flex;
  padding-top: 25px;
  a {
    margin-left: 35px;
  } 
}
.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
/* 5. Tastebite Blog Page CSS */
hr {
  opacity: 0.1;
}
.blog-detail {
  hr {
    margin: 20px 0;
  }
  p{
    font-size: 20px;
    line-height: 37px;
  }
  .blockquote-footer {
    color: $black;
    font-size: 24px;
    font-weight: $font-weight-normal;
    margin-top: 0;
  }
}
.write-comment {
  textarea {
    background-color: transparent;
    border:none;
    resize: none;
    color: $black;
    width: 80%;
    height: 265px;
    &:focus {
      box-shadow: none;
      background-color: transparent;
    }
  }
}
/* 5. 1. Tastebite Media CSS */
.media-box {
  padding: 30px;
  p {
    font-size: 20px;
    line-height: 37px;
  }
}
.tstbite-media-links {
  li {
    a {
      color: $gray-300;
      font-size: 12px;
      &:hover {
        color:$orange;
      }
      svg {
        margin-right: 3px;
      }
    }
    + li {
      margin-left: 25px;
    }
  }
}
.comment-item {
  .media {
    border-bottom: 1px solid $gray-200;
    padding-bottom: 30px;
    margin-bottom: 35px;
    padding-top: 10px;
  }
  ol.list-unstyled {
    padding-left: 150px;
  }
}
/* 6. Tastebite Recipe Page CSS */
.Nutrition-list {
  padding-top: 5px;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 0;
    span {
      color: $dark-300;
      font-size: 16px;
      width: 50%;
      font-weight: $font-weight-light;
      + span {
        font-weight: $font-weight-normal;
        color: $black;
        text-align: right;
      }
    }
    + li {
      border-top: 1px solid $gray-200;
    }
  }
}
.recipe-component {
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }
  .custom-input-group {
    flex-direction: column;
    position: relative;
    .form-control {
      width: 100%;
      height: 48px;
      font-size: 14px;
      background-image: url(../images/icons/mail.svg);
      background-repeat: no-repeat;
      background-position: left 15px center;
      padding-left: 48px;
      margin-bottom: 0;
      @include border-radius(4px);
      &:focus {
        border-color: #000000;
      }
    }
    .input-group-append {
      margin: 15px 0;
      border: none;
      .btn {
        @include border-radius(4px);
        width: 100%;
        height: 48px;
      }
    }
  }
}
.recipe-component.search {
  .custom-input-group {
    .form-control {
      &:focus {
        border-color: #000000 !important;
      }
    }
  }
}
.recipe-component.search {
  .form-control {
    padding-left: 0.75rem;
    padding-right: 48px;
    background-image: url(../images/icons/search-light.svg);
    background-position: right 15px center;
  }
}
/* 6. 1. Tastebite Component List Page CSS */
.component-list {
  margin: 0 -30px;
  li {
    padding: 5px 30px;
    small {
      font-size: 12px;
      color: $gray-300;
      text-transform: uppercase;
      display: block;
      line-height: 11px;
    }
    span {
      font-size: 14px;
      color: #000;
      text-transform: uppercase;
    }
    + li {
      border-left: 1px solid $gray-200;
    }
  }
  &.color-list {
    li {
      padding: 20px 30px;
      + li {
        border-left: none;
      }
    }
  }
}
/* 6. 2. Tastebite Custom Control CSS  */
.checklist {
  margin-top: 24px;
  strong {
    font-weight: $font-weight-semibold;
    font-size: 18px;
  }
}
.form-check-input {
  cursor: pointer;
}
.form-check-label {
  font-size: 18px;
}
.recipe-checkbox.form-check {
  &.form-check-rounded {
    .form-check-input {
      @include border-radius(50%);
    }
  }
  .form-check-input {
    width: 24px;
    height: 24px;
    margin-left: -40px;
    margin-top: 0;
    border-color: $black;
    border-width: 2px;
    &:focus {
      box-shadow: none;
    }
  }
  .form-check-input:checked {
    &[type="checkbox"] {
      background-image: url(../images/icons/checked.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 24px;
      background-color: transparent;
      border: none;
      border-radius: unset;
    }
    &~ .form-check-label {
      text-decoration: line-through;
      color: $gray-300;
      &::after {
      width: 35px !important;
      left: -44px !important;
      }
    }
  }
}
.recipe-checkbox .form-check-input:checked {
  &~ .custom-control-label::before {
    background-color: transparent;
    border-color: transparent;
  }
}
.recipe-checkbox.form-check {
  margin-top: 25px;
  padding-left: 40px;
}
.form-check.sm {
  min-height: 1px;
  &.form-check-rounded {
    .form-check-input {
      @include border-radius(50%);
    }
  }
  &:not(.custom-control-sm):not(.custom-switch) {
    padding-left: 25px;
    .form-check-input {
      width: 16px;
      height: 16px;
      border-width: 1px;
      border-color: $black;
      &:focus {
        box-shadow: none;
      }
      &:checked[type="checkbox"] {
        border-color: $orange;
      }
    }
  }
}
.form-check.sm {
  .form-check-label {
    font-size: 16px;
  }
}
.custom-control {
  min-height: 1px;
  &:not(.custom-control-sm):not(.custom-switch) {
    padding-left: 40px;
    .custom-control-label {
      &:before, &:after {
        top: 2px;
        left: -40px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .custom-control-label {
    &:before {
      background: none;
      @include border-radius(3px);
      border-width: 2px;
      border-color: $black;
    }
    display: inline-block;
    font-size: 18px;
  }
  &:not(.custom-switch) .custom-control-input {
    &:disabled ~ .custom-control-label:before, &[disabled] ~ .custom-control-label:before {
      background: none;
      opacity: 0.15;
    }
  }
  &.custom-control-sm .custom-control-label {
    &:before, &:after {
      top: 2px;
    }
  }
  &.custom-control-lg[class*="custom-"] {
    padding-left: 34px;
  }
  &.custom-control-rounded .custom-control-label {
    &:before, &:after {
      @include border-radius(100%);
    }
  }
  &.custom-control-square .custom-control-label:before {
    @include border-radius(0);
  }
  &.custom-control-lg[class*="custom-"] {
    font-size: 20px;
  }
}
.custom-switch.custom-switch-lg[class*="custom-"] {
  font-size: 20px;
}
.custom-control.custom-control-lg[class*="custom-"] .custom-control-label {
  &:before, &:after {
    top: 3px;
    left: -34px;
    width: 24px;
    height: 24px;
  }
}
/* 6. 3. Tastebite Instruction List CSS */
.instruction-list {
  padding-top: 15px;
  li {
    font-size: 18px;
    padding-left: 40px;
    position: relative;
    padding-right: 30px;
    span {
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      @include border-radius(100%);
      background-color: $orange;
      font-weight: $font-weight-medium;
      font-size: 14px;
      color: $white;
      text-align: center;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    + li {
      margin-top: 30px;
    }
  }
}
/* 7. Tastebite Category Page CSS */
.desserts-box {
  sup {
    font-size: 16px;
    font-family: $inter-font-family;
    font-weight: normal;

  }
  p {
    font-size: 16px;
  }
}
/* 8. Tastebite About Page CSS */
.about-detail {
  p {
    font-size: 24px;
    line-height: 38px;
  }
}
.mate-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.7);
  color: $white;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
  -ms-transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
  z-index: 1;
  @include border-radius(50%);
}
/* 8. 1. Tastebite Team CSS */
.team-box {
  margin-bottom: 40px;
  .team-circle {
    position: relative;
  }
  &:hover .mate-info {
    top: auto;
    bottom: 0;
    height: 100%;
    opacity: 1;
  }
  .mate-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
    -ms-transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.095, 1.08);
    z-index: 1;
      a {
      width: 28px;
      height: 28px;
      background: $white;
      margin: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.team-circle {
  @include border-radius(50%);
  overflow: hidden;
  display: inline-block;
}
/* 9. Tastebite Documentation Page CSS */
.tstbite-documentation .tstbite-aside .menu-category li a[aria-expanded="true"] .icon-rotate {
  transition: all ease .4s;
}
.tstbite-documentation .tstbite-aside .menu-category li a[aria-expanded="true"] .icon-rotate {
  transform: rotate(180deg);
}
.tstbite-documentation .doc-header.position-fixed {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.tstbite-documentation .row.has-height > .tstbite-aside {
  top: 72px;
  left: 0;
  z-index: 4;
}
.tstbite-documentation .row.has-height > .tstbite-aside .tstbite-aside-body {
  height: calc(100vh - 72px);
}
.tstbite-documentation {
  
  h4,.h4 {
    font-size: 30px;
  }
  h6,.h6 {
    font-size: 22px;
  }
  h5,.h5 {
    font-size: 26px;
  }
}
.copy-clipboard {
  position: relative;
  z-index: 1;
}
/* 9. 1. Tastebite Docs Content CSS */
.tstbite-docs-content {
  margin-left: 251px;
  margin-top: 72px;
  width: calc(80% - 251px);
  a:not(.btn) {
    color:$orange;
  }
}
.token.tag, .token.keyword {
  color: $info-dark;
}
.token.attr-name {
  color: $info-dark-200;
}
.token.attr-value, .token.string {
  color: $danger-light-100;
}
.token.comment {
  color: $gray-light-300;
}
.token.doctype {
  color: $info-800;
}
.code-box-copy__tooltip {
  background-color: $black;
  color: $white;
}
/* 9. 2. Tastebite Aside CSS  */
.tstbite-aside {
  width: 251px;
  background-color: $white;
}
.has-aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  .fabrx-aside-footer {
    margin-top: auto;
    margin-bottom: 30px;
  }
}
.tstbite-aside-xl {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all ease .5s;
  z-index: 3;
}
.aside-open .tstbite-aside {
  transform: translateX(0);
}
.tstbite-aside-header {
  background-color: $secondary-100;
  padding: 20px 32px;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.tstbite-aside .tstbite-aside-body {
  height: calc(100vh - 152px);
}
.font-size-12 {
  font-size: 12px;
}
.tstbite-menu-category {
  padding: 25px 0 10px;
  > .menu-category-title {
    padding: 10px 32px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    color: $secondary;
  }
}
.menu-category {
  > li > a {
    font-size: 14px;
    font-weight: $font-weight-medium;
    border-left: 5px solid $white;
    padding: 18px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > span + svg {
      margin-left: auto;
    }
  }
  li {
    a:hover, &.active > a {
      background-color: $primary-100;
      border-color: $orange;
      color: $black;
    }
    a.mPS2id-clicked {
      background-color: $primary-100;
      border-color: $orange;
      color: $black;
    }
  }
  .menu-category {
    > li {
      .menu-category {
        > li > a {
          padding:10px 15px 10px 38px;
        }
      }
    }
  }
}
/* 10. Tastebite Templates Page CSS */
.card {
  .card-img-overlay {
    padding: 25px;
    &.card-overlay-show {
      opacity: 0;
      transition: all ease .4s;
    }
  }
  &:hover {
    .card-img-overlay {
      &.card-overlay-show {
        opacity: 1;
      }
    }
  }
}
.overlay-wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}



/* Tastebite Responsive CSS */
@media screen and (max-width: 1340px) {
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        padding: 0 30px;
      }
    }
  }
  .tstbite-docs-content {
    width: calc(100% - 251px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .tstbite-collection {
    h5, h6 {
      font-size: 30px;
    }
  }
  .tstbite-collection { 
    h6 {
      br {
        display: none;
      }
    }
  }
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        padding: 0;
      }
    }
  }
  .tstbite-aside-lg {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: all ease .5s;
    z-index: 3;
  }
  .tstbite-documentation { 
    .row.has-height > .tstbite-aside {
      top: 72px;
      left: 0;
      z-index: 4;
    }
  }
  .tstbite-docs-content {
    margin-left: 0;
    width: calc(100% - 0px);
  }
  .manage-page {
    overflow: hidden;
  }
  .dropdown:hover .dropdown-menu {
    display: none;
  }
  .dropdown:hover .show ~ .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    .dropdown-menu {
      box-shadow: none;
      background-color: $lightest-gray;
    }
  }
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        padding: 0 40px;
        bottom: 30px;
        h4.h1 {
          font-size: 46px;
        }
      }
    }
  }
  .component-list {
    margin: 0 -20px;
    li {
      padding: 5px 20px;
    }
  }
  .instruction-list {
    li {
      padding-right: 20px;
    }
  }
  .about-detail {
    h2 {
      font-size: 46px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .component-list {
    &.color-list {
      margin: 0 -15px;
      li {
        padding: 20px;
      }
    }
  }
  .color-shade-lg {
    width: 140px;
    height: 140px;
  }
  .navbar-toggler {
    padding-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h5.h3, h5.h2, h4, h6 {
    font-size: 24px;
  }
  .navbar-nav {
    .dropdown-menu {
      a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
      }
    }
    .nav-link {
      padding: 10px 0;
    }
    li {
      padding: 0;
    }
  }
  .tstbite-header {
    padding: 16px 0;

    .navbar-brand {
      max-width: 110px;
      img {
        max-width: 100% !important;
      }
    }
  }
  .tstbite-footer { 
    ul {
      display: none;
    }
  }
  .tstbite-footer [class*="col-"] ~ [class*="col-"] + [class*="col-"] h6 {
    border-top: 1px solid $gray-200;
    padding-top: 20px;
    margin-top: 3px;
  }
  .tstbite-footer {
    hr {
      margin-top: 0;
    }
  }
  .tastebite-footer-contnet {
    padding-bottom: 30px;
  }
  .has-header-inner {
    border: none !important;
    padding: 0;
    .navbar-collapse > ul.navbar-nav {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      margin-top: 8px !important;
    }
  }
  .rounded-sm-top-6 {
    @include border-radius(6px 6px 0 0);
  }
  .tstbite-header-links a svg {
    max-width: 20px;
  }
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        padding: 0px;
        bottom: 30px;
        h4.h1 {
          font-size: 33px;
        }
      }
    }
  }
  .media-box {
    padding: 30px 30px 10px;
  }
  .comment-item {
    ol.list-unstyled {
      padding-left: 60px;
    }
  }
  .blog-detail {
    p {
      font-size: 14px;
      line-height: 23px;
    }
  }
  .blockquote {
    h2 {
      font-size: 45px;
    }
  }
  .blog-detail {
    .blockquote-footer {
      font-size: 16px;
    }
  }
  .overlay-box {
    a {
      svg {
        width: 56px;
        height: 56px;
      }
    }
  }
  .media-box {
    p {
      font-size: 14px;
      line-height: 23px;
    }
  }
  .border-bottom h2 {
    font-size: 30px;
  }
  .write-comment {
    textarea {
      width: 100%;
      height: 250px;
    }
  }
  .instruction-list {
    margin-bottom: 70px;
  }
  .desserts-box {
    sup {
      font-size: 10px;
    }
    p {
      font-size: 10px;
    }
    .sort-filter {
      float: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      span {
        font-size: 10px;
        padding-right: 10px;
      }
      .form-control {
        background-size: 12px;
        font-size: 12px;
        line-height: 14px;
        width: 106px;
        height: 28px;
        min-width: 106px;
      }
    }
    h5 > img {
      max-width: 24px;
    }
  }
  .about-detail {
    h2, ~ div h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      line-height: 23px;
    }
  }
  .modal-content {
    padding: 25px;
  }
  .modal-body {
    padding: 0;
  }
  .close ~ .modal-body {
    padding-top: 30px;
  }
  .btn-md-block{
    display: block;
  }
  .header-topbar {
    background-color: transparent !important;
    border-top: 1px solid $gray-200;
    margin-top: 20px;
    .col-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      padding: 0;
      .row {
        margin: 0;
      }
    }
  }
  .icons-list.component-list {
    margin: 0 -15px;
  }
  .doc-header {
    padding-top: 9px;
    padding-bottom: 9px;
    .navbar-brand {
      img {
        width: 146px;
      }
    }
  }
  .copy-clipboard {
    clear: both;
    padding-top: 10px;
  }
  .block-menu {
    ul {
      display: block;
    }
  }
}

@media screen and (max-width: 575px) {
  h4, .h4 {
    font-size: 30px;
  }
  big, .big {
    font-size: 14px;
  }
  caption, .caption {
    font-size: 10px !important;
  }
  h5, .h5 {
    font-size: 24px;
  }
  h6, .h6 {
    font-size: 20px;
  }
  h2.h1 {
    font-size: 36px;
  }
  .f-size-24 {
    font-size: 16px;
  }
  .btn {
    font-weight: $font-weight-medium;
  }
  .custom-input-group {
    flex-direction: column;
    .form-control {
      width: 100%;
      height: 48px;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 15px;
      @include border-radius(4px !important);
    }
    .input-group-append {
      border: 0;
      margin-left: 0;
      .btn {
        width: 100%;
        height: 48px;
        font-weight: $font-weight-medium;
        @include border-radius(4px);
      } 
    }
  }
  .tstbite-join-section {
     .custom-input-group {
      .form-control {
        width: 100%;
        height: 48px;
      }
     }
  }
  .tstbite-arrow {
    position: relative;
    bottom: 10px;
    right: 0;
    margin-left: auto;
  }
  .tstbite-footer {
    .caption {
      font-size: 14px !important;
      padding-bottom: 5px;
      padding-top: 13px !important;
    }
  }
  .tstbite-category-title {
    font-size: 14px;
  }
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        padding: 0 45px;
        bottom: 20px;
        h4.h1 {
          font-size: 33px;
        }
      }
    }
  }
  .swiper-container {
    .swiper-button-prev, .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: initial;
      left: 0;
      width: 33px;
      height: 33px;
      background-color: rgba($white, 0.7);
      background-image: url(../images/icons/left-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
      &:hover {
        background-color: $white;
      }
    }
    .swiper-button-next {
      right: 0;
      left: auto;
      background-image: url(../images/icons/right-arrow2.svg);
      background-repeat: no-repeat;
    }
  }
  .tstbite-feature {
    padding-top: 0;
    justify-content: flex-end;
    a {
      margin-left: 18px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .tstbite-feature.pt-0 {
    margin-bottom: -23px;
  }
  .checklist {
    strong {
      font-size: 14px;
    }
  }
  .recipe-checkbox.custom-control {
    margin-top: 20px;
    .custom-control-label {
      font-size: 14px;
    }
  }
  .custom-control {
    &:not(.custom-control-sm):not(.custom-switch) {
      padding-left: 26px;
      .custom-control-label {
        &:before, &:after {
          top: 2px;
          left: -26px;
          width: 16px;
          height: 16px;
        }
      }
    }
    .custom-control-label::before {
      border-width: 1px;
    }
  }
  .recipe-checkbox.custom-checkbox {
    .custom-control-input:checked {
      &~ .custom-control-label::after {
        background-size: 16px;
        width: 35px !important;
        left: -29px !important;
        height: 19px !important;
        top: 0;
      }
    }
  }
  .instruction-list {
    li {
      font-size: 14px;
      line-height: 23px;
      padding-right: 0;
      padding-left: 35px;
    }
  }
  .f-size-20 {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  .custom-control.sm {
    .custom-control-label {
      font-size: 12px;
    }
  }
  .custom-control.sm {
    min-height: 1px;
    &:not(.custom-control-sm):not(.custom-switch) {
      padding-left: 18px;
      margin-top: 2px;
      .custom-control-label {
        &:before, &:after {
          top: 4px;
          left: -18px;
          width: 12px;
          height: 12px;
          border-width: 1px;
        }
      }
    }
  }
  .desserts-box {
    small.font-size-16 {
      font-size: 12px;
    }
    .tstbite-svg {
      a {
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .btn-lg {
    height: 32px;
    font-size: 14px;
    line-height: 13px;
  }
  .modal-content {
    h6 {
      font-size: 24px;
    }
    .btn-lg {
      height: 45px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .tstbite-sm-profile {
    img {
      width: 48px;
      height: 48px;
    }
  }
  .form-group.custom-form-group {
    margin-bottom: 25px;
  }
  .team-box {
    h6 {
      font-size: 14px;
    }
    small {
      font-size: 10px;
      line-height: 12px;
      display: block;
      margin-top: 5px;
    }
  }
  .group-list, .component-list.group-list {
    margin: 0;
    padding-left: 25px;

    li {
      padding: 15px 0;
      margin-left: -25px;
    }
  }
  .tstbite-masonry {
    .masonry-item {
      width: 50%;
    }
  }
  .circle-xl {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 479px) {
  h1,.h1 {
    font-size: 60px;
  }
  .tstbite-overlay {
    .card-img-overlay {
      .tstbite-container {
        h4.h1 {
          font-size: 24px;
        }
      }
    }
  }
  .component-list {
    margin: 0 -8px;
    li {
      padding: 5px 8px;
    }
  }
  .color-shade-lg {
    width: 120px;
    height: 120px;
  }
  .icons-list.component-list {
    margin: 0 -10px;
    li {
      padding: 15px 10px;
      min-width: 62px;
    }
  }
  .tstbite-section {
    padding: 50px 0;
  }
  .tstbite-header-links {
    .btn {
      font-size: 13px;
    }
  }
  .navbar-brand {
    margin-right: 0;
  }
  .doc-header .navbar-brand img {
    width: 135px;
  }
  .badge.circle-lg {
    width: 42px;
    height: 42px;
    svg {
      width: 13px;
      height: 13px;
    }
  }
  .tstbite-masonry {
    margin: 0 -6px;
    .masonry-item {
      padding: 6px;
      width: 50%;
    }
  }
  .circle-xl {
    width: 130px;
    height: 130px;
  }
}